image: node:18-bullseye

pages:
  stage: deploy
  variables:
    VITEPRESS_BASE: "/Termux-x-wiki/"
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - node_modules/
  script:
    - npm ci
    - npm run docs:build
    - rm -rf public
    - mv docs/.vitepress/dist public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
